{% extends 'layout.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block css %}
<link rel="stylesheet" href="{% static 'event.css' %}">
{% endblock css %}

{% block body %}
	<div class="navigation-bar">
		<div class="navigation-link">
			<a href="{% url 'index' %}">Home</a>
			<a href="{% url 'addevent' %}">Add Event</a>
			<a href="{% url 'favourite' %}">Favourite</a>
		</div>
		<div class="logout-link">
			<a href="{% url 'logout' %}">Log out</a>
		</div>
	</div>
	
	
	<div class="form-section">
		<form action="" method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			{{ form|crispy }}
			<input type="submit" value="Add Event" class="btn btn-primary">
		</form>
	</div>
	

	
{% endblock body %}

{% block scripting %}
{% endblock scripting %}