{% extends 'layout.html' %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'home.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock css %}

{% block body %}

<div class="navigation-bar">
	<div class="navigation-link">
		<a href="{% url 'index' %}">Home</a>
		<a href="{% url 'addevent' %}">Add Event</a>
		<a href="">Favourite</a>
	</div>
	<div class="logout-link">
		<a href="{% url 'logout' %}">Log out</a>
	</div>
</div>

<section class="event-list">
	{% for event in events %}
		{% if event.pk in liked %}
			<div class="event">
				<h3>{{event.event_name}}</h3>
				<p>{{event.description}}</p>
				<div class="event-image">
					<!-- <img src="https://source.unsplash.com/random/" alt="event-image"> -->
					<img src="{{ event.image.url }}" alt="event-image">
				</div>
				<div class="event-specific-details">
					<h3>{{event.location}}</h3>
					<h3>{{event.event_date}}</h3>
				</div>
				<div class="event-like">
					<i id="{{ event.pk }}" onclick="togglePreference(this)" class="fa fa-heart" style="color: red;"></i>
				</div>
			</div>
		{% endif %}
	{% endfor %}
</section>

{% block scripting %}
 <script src="{% static 'home.js' %}"></script>
{% endblock scripting %}

{% endblock body %}