{% extends 'layout.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'home.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock css %}

{% block body %}

<section class="event-list">
	<!-- Event box going to have these fields
				1) Event name
				2) data / content
				3) time 
				4) location
				5) image
				6) is liked
			-->
	<!-- Using DTL for loop to show all the events -->
	{% for event in events %}
		{% if event.pk in liked %}
			<div class="event" id="{{ event.pk }}">
				<h3>{{event.event_name}}</h3>
				<p>{{event.description}}</p>
				<div class="event-image">
					<!-- <img src="https://source.unsplash.com/random/" alt="event-image"> -->
					<img src="{{ event.image.url }}" alt="event-image">
				</div>
				<div class="event-specific-details">
					<h3>{{event.location}}</h3>
					<h3>{{event.event_date}}</h3>
				</div>
				<div class="event-like">
					<i onclick="togglePreference(this)" class="fa fa-heart" style="color: white;"></i>
				</div>
			</div>
		{% else %}
			<div class="event" id="{{ event.pk }}">
				<h3>{{event.event_name}}</h3>
				<p>{{event.description}}</p>
				<div class="event-image">
					<!-- <img src="https://source.unsplash.com/random/" alt="event-image"> -->
					<img src="{{ event.image.url }}" alt="event-image">
				</div>
				<div class="event-specific-details">
					<h3>{{event.location}}</h3>
					<h3>{{event.event_date}}</h3>
				</div>
				<div class="event-like">
					<i onclick="togglePreference(this)" class="fa fa-heart" style="color: white;"></i>
				</div>
			</div>
		{% endif %}
	{% endfor %}

</section>

{% block scripting %}
<script src="{% static 'home.js' %}"></script>
{% endblock scripting %}

{% endblock body %}