body {
	background-color: #F6F6F6;
}

.login-container {
	width: 100%;
	display: flex;
	margin-top: 100px;
	justify-content: space-evenly;
	flex-wrap: wrap;
	background-image: linear-gradient(180deg, #FCFCFC, #F9F9F9);
	border-radius: 50px;
}

.login-container form {
	padding: 150px 25px;
}

